.flex-item {
  font-size: 24px;
}

.flex-container {
  display: flex;
  min-height: 100vh;
}

aside {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
