.flex-container {
  background-image: linear-gradient(45deg, #fbc2eb, #8fd3f4);
  padding: 16px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  width: 25%;
}

.flex-container {
  display: flex;
  // flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.content {
  flex: 1;
}
